{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<form action="" method="post" style="width: 50%; margin: auto;" novalidate>
    {% csrf_token %}
    <h1>Password Change Page</h1>

    {% if form.non_field_errors %}
    {% for er in form.non_field_errors %}
    <p class="bg-danger text-white p-3">{{er}}</p>
    {% endfor %}
    {% endif %}


<!-- {{form | crispy}} -->
    {% for i in form %}
    {{i.label_tag}}
    {{i}}
    <p class=" text-danger p-3">{{i.errors | striptags}}</p>
    {% endfor %}
    <button class="btn btn-warning mt-2" type="submit">Submit</button>
</form>

{% endblock %}