{% extends "base.html" %}
{% block content %}
<h1>Profile page</h1>
<a class="text-center m-2  btn btn-warning" href="{% url 'profile_detail_edit'  %}"> Edit Profile Details</a>

<div class="col-10 p-3">
    <h4 class="">{{purchases | length}} result found</h4>
    <div class="d-flex flex-wrap  pt-5">

{% for purchase in purchases %}
        <div class="col-sm-3 mb-3 mb-sm-0">
            <div class="card mx-2">
                <img src="{{purchase.car.image.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><a class="text-decoration-none text-dark" href="">{{purchase.car.car_name}}</a></h5>
                    <p><strong>Price:</strong> {{ purchase.car.car_price }}</p>
                    <p>Brand of {{ purchase.car.brand.name }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}