{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block  content%}
{% if messages %}
    {% for m in messages %}
    <small {% if m.tags %} class="{{m.tags}} {% endif %}">{{m}}</small>
    {% endfor %}
    {% endif %}
    <form action="" method="post" style="width: 50%; margin: auto;" novalidate>
        {% csrf_token %}
        <!-- {{form | crispy}} -->
        {% for fm in form %}
        {{fm.label_tag}}
        {{fm}}
        {{fm.errors | striptags}}
        <br>
        {% endfor %}
        
        <button  class="btn btn-primary" type="submit">Submit</button>
        <br>
        <small>Already have an account? <a href="{% url 'login' %}">LogIn</a>

        </small>
    </form>
{% endblock  %}